/*  your css code here. If applicable */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: yellow;
}

table {
    border-collapse: collapse;
    width: 50%;
}

td, th {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0.5rem;
    text-align: left; /* Added missing semicolon */
}

tbody tr:nth-child(even) {
    background-color: #ffffff;
}

tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}
